{% extends 'users/layout.html' %}


{% block title %}Clients{% endblock %}


{% block content %}
    <h3>Activity</h3>
    <div class="table-responsive">
        <table class="table table-hover table-responsive">
            <tr>
                {% for title in activity_titles %}
                    <th>{{ title }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for elem in user_details.activity %}
                    <td>{{ elem }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <h3>Interest</h3>
    <div class="table-responsive">
        <table class="table table-hover table-responsive">
            <tr>
                {% for title in interest_titles %}
                    <th>{{ title }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for elem in user_details.interest %}
                    <td>{{ elem }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <h3>Last Request</h3>
    <div class="table-responsive">
        <table class="table table-hover table-responsive">
            <tr>
                {% for title in last_request_titles %}
                    <th>{{ title }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for elem in user_details.last_request %}
                    <td>{{ elem }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <h3>Additional Data</h3>
    <div class="table-responsive">
        <table class="table table-hover table-responsive">
            <tr>
                {% for title in additional_titles %}
                    <th>{{ title }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for elem in user_details.additional_data %}
                    <td>{{ elem }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <h3>Dialogs</h3>
    <div class="table-responsive">
        <table class="table table-hover table-responsive">
            <tr>
                {% for title in dialogs_titles %}
                    <th>{{ title }}</th>
                {% endfor %}
            </tr>
            {% for elem in user_details.dialogs_page_obj %}
                <tr>
                    {% for subelem in elem|slice:"2:" %}
                        <td>{{ subelem|truncatechars:100  }}</td>
                    {% endfor %}
                    <td><a href="{% url 'view_dialog' elem.0 %}"><i class="fas fa-eye"></i></a></td>
                    <td><a href="{% url 'update_dialog' elem.0 %}"><i class="fas fa-edit"></i></a></td>
                    <td><a href="{% url 'delete_dialog' elem.0 elem.1 %}"><i class="fas fa-trash"></i></a></td>
                </tr>
            {% endfor %}
        </table>
        <nav class="page-navigation">
            {% with start=user_details.dialogs_page_obj.start_index end=user_details.dialogs_page_obj.end_index total=user_details.dialogs_page_obj.paginator.count %}
            <div class="pagination-info">
                Showing {{ start }}–{{ end }} of {{ total }} items.
            </div>
            {% endwith %}
            <ul class="pagination">
                {% if user_details.dialogs_page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">begin</span>
                  </a>
                </li>
                {% endif %}

                {% for n in user_details.dialogs_page_obj.paginator.page_range %}
                  {% if user_details.dialogs_page_obj.number == n %}
                    <li class="page-item active">
                      <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                    </li>
                  {% elif n > user_details.dialogs_page_obj.number|add:'-3' and n < user_details.dialogs_page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if user_details.dialogs_page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ user_details.dialogs_page_obj.paginator.num_pages }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">end</span>
                    </a>
                  </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
